<div></div>
<h3>DropSpot</h3>
<form class="login-form" hx-post="/app/login">
    <input type="hidden" name="first_name" value="Alec">
    <input type="hidden" name="last_name" value="Bassingthwaighte">
    <input type="hidden" name="email" value="alec@dropspot.au">
    <md-filled-button class="login-button button-white">
        <div class="login-button-contents">
            <span>Login</span>
            <md-icon>login</md-icon>
        </div>
        <md-circular-progress indeterminate></md-circular-progress>
    </md-filled-button>
</form>
