<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DropSpot</title>
    <link rel="stylesheet" href="/static/dropspot/dist/style.css">
    <script type="module" src="/static/dropspot/dist/index.js"></script>
</head>
<body>
    <header hx-get="/app/header" hx-trigger="load" hx-target="this" hx-swap="outerHTML">Loading...</header>
    <main>
        <input type="file" id="file-input" class="file-upload">
        <section class="upload-area">
            <div id="upload" class="upload-circle">
                <h1 class="text-white">dropspot</h1>
            </div>
        </section>
        <section id="recent-uploads">
            <div class="recent-upload">
                <h3 class="text-white no-margin">${result.file.name}</h3>
                <copy-button value="lol"></copy-button>
            </div>
            <div class="recent-upload">
                <h3 class="text-white no-margin">${result.file.name}</h3>
                <copy-button value="lol"></copy-button>
            </div>
            <div class="recent-upload">
                <h3 class="text-white no-margin">${result.file.name}</h3>
                <copy-button value="lol"></copy-button>
            </div>
        </section>
    </main>
</body>
</html>
