<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DropSpot</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="/static/dist/style.css">
    <script type="module" src="/static/dist/index.js"></script>
</head>
<body>
    <header class="header" hx-get="/app/header" hx-trigger="login from:body" hx-target="this" hx-swap="innerHTML">
        {% let name = header.name %}
        {% let is_logged_in = header.is_logged_in %}
        {% include "header.html" %}
    </header>
    <main>
        <input type="file" id="file-input" class="file-upload">
        <section class="upload-area">
            <md-icon-button id="settings-popover-toggle" class="md-icon-button-white">
                <md-icon>settings</md-icon>
            </md-icon-button>
            <dropspot-popover id="settings-popover" alignment="left">
                <section class="settings">
                    <h3 class="no-margin" style="align-self: center;">Settings</h3>
                    <div class="settings-menu-wrapper" hx-get="/app/settings" hx-trigger="load, login from:body" hx-swap="innerHTML">
                        <div class="settings-loader">
                            <md-circular-progress indeterminate></md-circular-progress>
                        </div>
                    </div>
                </section>
            </dropspot-popover>
            <div id="upload" class="upload-circle">
                <h1 class="text-white">dropspot</h1>
            </div>
            <md-icon-button id="files-popover-toggle" class="md-icon-button-white">
                <md-icon>list</md-icon>
            </md-icon-button>
            <dropspot-popover id="files-popover" alignment="right">
                <section class="file-menu">
                    <h3 class="no-margin" style="align-self: center;">Files</h3>
                    <div class="file-menu-wrapper" hx-get="/app/files" hx-trigger="load, file-upload from:body, file-download from:body, file-delete from:body, login from:body" hx-swap="innerHTML">
                        <div class="file-loader">
                            <md-circular-progress indeterminate></md-circular-progress>
                        </div>
                    </div>
                </section>
            </dropspot-popover>
        </section>
        {% if !is_logged_in %}
            <section class="onboarding-preview">
                <p class="no-margin">New to DropSpot?
                    <b id="onboarding-preview-trigger" class="microlink">See how it works.</b>
                </p>
            </section>
        {% endif %}
        <section id="linked-file"></section>
        <section id="recent-uploads"></section>
        <section id="toast-container"></section>
        {% if should_show_onboarding %}
            {% include "onboarding.html" %}
        {% endif %}
    </main>
</body>
</html>
