<form id="limits-form"
      class="form"
      hx-patch="/app/settings/update"
      hx-trigger="submit, change delay:750ms"
      hx-swap="afterend">
    <div class="form-row">
        <div class="form-field">
            <span class="form-label">File Expiry</span>
            <md-filled-text-field type="number" 
                                  name="file_expiry_minutes"
                                  label="Expire after" 
                                  value="{{ file_expiry_minutes }}" 
                                  min="1" 
                                  max="60" 
                                  pattern="\d+"
                                  suffix-text="minutes"
            ></md-filled-text-field>
        </div>
    </div>

    <div class="form-row">
        <div class="form-field">
            <span class="form-label">Download Limit</span>
            <md-filled-text-field type="number" 
                                  name="download_limit"
                                  label="Downloadable" 
                                  value="{{ download_limit }}" 
                                  min="1" 
                                  max="100" 
                                  pattern="\d+"
                                  suffix-text="times"
            ></md-filled-text-field>
        </div>
    </div>
    <div class="form-row">
        <div class="form-field">
            <span class="form-label">Allow external uploads?</span>
            <md-switch icons 
                       name="allow_external_uploads"
                       {% if allow_external_uploads %}
                           selected
                           value="true"
                       {% else %}
                           value="false"
                       {% endif %}
            ></md-switch>
        </div>
    </div>
    <div class="form-row">
        <div class="form-field">
            <span class="form-label">Allow external downloads?</span>
            <md-switch icons 
                       name="allow_external_downloads"
                       {% if allow_external_downloads %}
                           selected
                           value="true"
                       {% else %}
                           value="false"
                       {% endif %}
            ></md-switch>
        </div>
    </div>
    <div class="form-row">
        <div class="form-field">
            <span class="form-label">Save</span>
            <div>
                <md-filled-button type="submit" class="button-success">Submit</md-filled-button>
            </div>
        </div>
    </div>
</form>

<script type="module">
    const handleFormData = (e) => {
        const { formData } = e;

        if (!formData.has("allow_external_uploads")) {
            formData.set("allow_external_uploads", false);
        }

        if (!formData.has("allow_external_downloads")) {
            formData.set("allow_external_downloads", false);
        }
    }

    const form = document.querySelector("#limits-form");

    if (form) {
        form.addEventListener("formdata", handleFormData);
    }
</script>
