<tree-menu default-key="settings">
    <section id="settings-main" class="settings-page" menu-key="settings">
      <div class="settings-section">
        <h3 class="section-label">Settings</h3>
        <ul class="settings-list">
          
        <li id="limits-menu-item" class="settings-item" menu-navigate-to="limits">
            <md-icon class="settings-icon">av_timer</md-icon>
            <div class="settings-text">
              <span class="settings-item-title">Default Expiry</span>
              <span class="settings-item-desc">Set default download and time limits</span>
            </div>
            <md-icon class="settings-action">chevron_right</md-icon>
          </li>

          <li class="settings-item" disabled>
            <md-icon class="settings-icon">database</md-icon>
            <div class="settings-text">
              <span class="settings-item-title">Storage Allocation (Coming Soon)</span>
              <span class="settings-item-desc">Manage your available space</span>
            </div>
            <md-icon class="settings-action">chevron_right</md-icon>
          </li>
        </ul>
      </div>

      <div class="settings-section">
        <h3 class="section-label">Organisation Settings</h3>
        <ul class="settings-list">
          
          <li id="user-menu-item" class="settings-item" menu-navigate-to="users">
            <md-icon class="settings-icon">group</md-icon>
            <div class="settings-text">
              <span class="settings-item-title">Team Members</span>
              <span class="settings-item-desc">Manage access and roles</span>
            </div>
            <md-icon class="settings-action">chevron_right</md-icon>
          </li>

          <li id="integrations-menu-item" class="settings-item" menu-navigate-to="integrations">
            <md-icon class="settings-icon">link</md-icon>
            <div class="settings-text">
              <span class="settings-item-title">Integrations</span>
              <span class="settings-item-desc">Manage external access</span>
            </div>
            <md-icon class="settings-action">chevron_right</md-icon>
          </li>

          <li class="settings-item" disabled>
            <md-icon class="settings-icon">water_drop</md-icon>
            <div class="settings-text">
              <span class="settings-item-title">Branding (Coming Soon)</span>
              <span class="settings-item-desc">Customise logo and colours</span>
            </div>
            <md-icon class="settings-action">chevron_right</md-icon>
          </li>
        </ul>
      </div>
    </section>

    <section class="settings-page" menu-key="users">
        <ul id="user-list" class="file-list">
            {% for user in users %}
                <li id="user-{{ user.id }}" class="file-item" menu-navigate-to="user-{{ user.id }}">
                    <md-icon class="file-icon">person</md-icon>
                    <div class="file-info">
                        <span class="file-name">{{ user.first_name }} {{ user.last_name }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>

    {% for user in users %}
        {% let is_current_user = user.id == current_user_id %}
        <section class="settings-page" menu-key="user-{{ user.id }}">
            {% if is_current_user %}
                {% include "user_edit.html" %}
            {% else %}
                {% include "user_view.html" %}
            {% endif %}
        </section>
    {% endfor %}

    <!-- File limits -->
    <section class="settings-page" menu-key="limits">
        <h3 class="form-header">File Settings</h3>
        {% include "limits.html" %}
    </section>

    <!-- Integrations -->
    <section class="settings-page" menu-key="integrations">
        <h3 class="form-header">Integrations</h3>

        {% for integration in integrations %}
            <li class="file-item" menu-navigate-to="integration-{{ integration.slug.to_string() }}">
                <integration-icon slug="{{ integration.slug.to_string() }}"></integration-icon>
                <div class="file-info">
                    {{ integration.slug.full_name() }}
                </div>
            </li>
        {% endfor %}
    </section>

    {% for integration in integrations %}
        {% let slug = integration.slug.to_string() %}
        <section class="settings-page" menu-key="integration-{{ integration.slug.to_string() }}">
            <div class="form">
                <div class="form-row" style="align-items: center;">
                    <integration-icon slug="{{ integration.slug.to_string() }}"></integration-icon>
                    <h3>{{ integration.slug.full_name() }}</h3>
                </div>

                <integration-form 
                    slug="{{ slug }}"
                    {% if integration.is_active %}is-active{% endif %}
                    {% for (field, value) in integration.data.to_map() %}
                        data-{{ field }}="{{ value }}"
                    {% endfor %}
                ></integration-form>
            </div>
        </section>
    {% endfor %}
</tree-menu>
