<tree-menu default-key="settings">
    <section id="settings-main" class="settings-page" menu-key="settings">
      <div class="settings-section">
        <h3 class="section-label">Settings</h3>
        <ul class="settings-list">
          
        <li id="limits-menu-item" class="settings-item" menu-navigate-to="limits">
            <md-icon class="settings-icon">av_timer</md-icon>
            <div class="settings-text">
              <span class="settings-item-title">Default Expiry</span>
              <span class="settings-item-desc">Set default download and time limits</span>
            </div>
            <md-icon class="settings-action">chevron_right</md-icon>
          </li>

          <li class="settings-item" disabled>
            <md-icon class="settings-icon">database</md-icon>
            <div class="settings-text">
              <span class="settings-item-title">Storage Allocation (Coming Soon)</span>
              <span class="settings-item-desc">Manage your available space</span>
            </div>
            <md-icon class="settings-action">chevron_right</md-icon>
          </li>
        </ul>
      </div>

      <div class="settings-section">
        <h3 class="section-label">Organisation Settings</h3>
        <ul class="settings-list">
          
          <li id="user-menu-item" class="settings-item" menu-navigate-to="users">
            <md-icon class="settings-icon">group</md-icon>
            <div class="settings-text">
              <span class="settings-item-title">Team Members</span>
              <span class="settings-item-desc">Manage access and roles</span>
            </div>
            <md-icon class="settings-action">chevron_right</md-icon>
          </li>

          <li id="integrations-menu-item" class="settings-item" menu-navigate-to="integrations">
            <md-icon class="settings-icon">link</md-icon>
            <div class="settings-text">
              <span class="settings-item-title">Integrations</span>
              <span class="settings-item-desc">Manage external access</span>
            </div>
            <md-icon class="settings-action">chevron_right</md-icon>
          </li>

          <li class="settings-item" disabled>
            <md-icon class="settings-icon">water_drop</md-icon>
            <div class="settings-text">
              <span class="settings-item-title">Branding (Coming Soon)</span>
              <span class="settings-item-desc">Customise logo and colours</span>
            </div>
            <md-icon class="settings-action">chevron_right</md-icon>
          </li>
        </ul>
      </div>
    </section>

    <section class="settings-page" menu-key="users">
        <ul id="user-list" class="file-list">
            {% for user in users %}
                <li id="user-{{ user.id }}" class="file-item" menu-navigate-to="user-{{ user.id }}">
                    <md-icon class="file-icon">person</md-icon>
                    <div class="file-info">
                        <span class="file-name">{{ user.first_name }} {{ user.last_name }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>

    {% for user in users %}
        {% let is_current_user = user.id == current_user_id %}
        <section class="settings-page" menu-key="user-{{ user.id }}">
            <div class="file-details-container">
                <div class="form">
                    <div class="form-row">
                        {% if is_current_user %}
                            <div class="form-row">
                                <span class="form-label">Name</span>
                                <div class="file-detail-value-row">
                                    <div style="display: flex; place-items: center; gap: 0.25rem";>
                                        <md-filled-text-field type="text" 
                                                              name="first_name"
                                                              label="First name" 
                                                              value="{{ user.first_name }}" 
                                                              pattern="\W+"
                                                              hx-patch="/app/settings/user/{{ user.id }}/update"
                                                              hx-trigger="input delay:750ms"
                                                              hx-target="#user-first-name-result"
                                                              hx-swap="innerHTML"
                                                              class="settings-field-update-input"
                                                              style="flex: 1;">
                                        </md-filled-text-field>
                                        <div id="user-first-name-result" class="settings-field-update-result"></div>
                                    </div>
                                    <div style="display: flex; place-items: center; gap: 0.25rem";>
                                        <md-filled-text-field type="text" 
                                                              name="last_name"
                                                              label="Last name" 
                                                              value="{{ user.last_name }}" 
                                                              pattern="\W+"
                                                              hx-patch="/app/settings/user/{{ user.id }}/update"
                                                              hx-trigger="input, delay:750ms"
                                                              hx-target="#user-last-name-result"
                                                              hx-swap="innerHTML"
                                                              class="settings-field-update-input"
                                                              style="flex: 1;">
                                        </md-filled-text-field>
                                        <div id="user-last-name-result" class="settings-field-update-result"></div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <h3 class="file-detail-name no-margin">{{ user.get_name() }}</h3>
                        {% endif %}
                    </div>
                    <div class="form-row">
                        {% if is_current_user %}
                            <span class="form-label">Email</span>
                            <div class="file-detail-value-row">
                                <md-filled-text-field type="email" 
                                                      name="email"
                                                      label="Email" 
                                                      value="{{ user.email }}" 
                                                      pattern="\W+"
                                                      hx-patch="/app/settings/user/{{ user.id }}/update"
                                                      hx-trigger="input delay:750ms"
                                                      hx-target="#user-email-result"
                                                      hx-swap="innerHTML"
                                                      class="settings-field-update-input"
                                                      style="flex: 1;">
                                </md-filled-text-field>
                                <div id="user-email-result" class="settings-field-update-result"></div>
                            </div>
                        {% else %}
                            <span class="form-label">Email</span>
                            <span class="file-detail-value">{{ user.email }}</span>
                        {% endif %}
                    </div>
                    <div class="form-row">
                        <span class="form-label">Joined At</span>
                        <span class="file-detail-value">{{ user.created_at_slash_date() }}</span>
                    </div>
                  
                    <div class="form-row">
                        <span class="form-label">Files Created</span>
                        <span class="file-detail-value badge">{{ user.file_count }}</span>
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}

    <section class="settings-page" menu-key="limits">
        <div class="file-details-container">
            <h3 class="file-detail-name">File Settings</h3>
        
            <div class="form">
                <div class="form-row">
                    <span class="form-label">File Expiry</span>
                    <div class="file-detail-value-row">
                        <md-filled-text-field type="number" 
                                              name="file_expiry_minutes"
                                              label="Expire after" 
                                              value="{{ file_expiry_minutes }}" 
                                              min="1" 
                                              max="60" 
                                              pattern="\d+"
                                              suffix-text="minutes"
                                              hx-patch="/app/settings/update"
                                              hx-trigger="input delay:750ms"
                                              hx-target="#expiry-limit-result"
                                              hx-swap="innerHTML"
                                              class="settings-field-update-input">
                        </md-filled-text-field>
                        <div id="expiry-limit-result" class="settings-field-update-result"></div>
                    </div>
                </div>
          
                <div class="form-row">
                    <span class="form-label">Download Limit</span>
                    <div class="file-detail-value-row">
                        <md-filled-text-field type="number" 
                                              name="download_limit"
                                              label="Downloadable" 
                                              value="{{ download_limit }}" 
                                              min="1" 
                                              max="100" 
                                              pattern="\d+"
                                              suffix-text="times"
                                              hx-patch="/app/settings/update"
                                              hx-trigger="input delay:750ms"
                                              hx-target="#download-limit-result"
                                              hx-swap="innerHTML"
                                              class="settings-field-update-input">
                        </md-filled-text-field>
                        <div id="download-limit-result" class="settings-field-update-result"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Integrations -->
    <section class="settings-page" menu-key="integrations">
        <div class="file-details-container">
            <h3 class="file-detail-name">Integrations</h3>

            {% for integration in integrations %}
                <li class="file-item" menu-navigate-to="integration-{{ integration.slug.to_string() }}">
                    <integration-icon slug="{{ integration.slug.to_string() }}"></integration-icon>
                    <div class="file-info">
                        {{ integration.slug.full_name() }}
                    </div>
                </li>
            {% endfor %}
        </div>
    </section>

    {% for integration in integrations %}
        {% let slug = integration.slug.to_string() %}
        <section class="settings-page" menu-key="integration-{{ integration.slug.to_string() }}">
            <div class="file-details-container">
                <div class="form">
                    <div class="form-row">
                        <span class="form-label">Name</span>
                        <div class="file-detail-value-row">
                            <integration-icon slug="{{ integration.slug.to_string() }}"></integration-icon>
                            <span>{{ integration.slug.full_name() }}</span>
                        </div>
                    </div>

                    <integration-form 
                        slug="{{ slug }}"
                        {% if integration.is_active %}is-active{% endif %}
                        {% for (field, value) in integration.data.to_map() %}
                            data-{{ field }}="{{ value }}"
                        {% endfor %}
                    ></integration-form>
                </div>
            </div>
        </section>
    {% endfor %}
</tree-menu>
