<form class="form"
      hx-patch="/app/settings/user/{{ user.id }}/update"
      hx-trigger="submit, change delay:750ms"
      hx-swap="afterend">
    <div class="form-row">
        <div class="form-field">
            <span class="form-label">Name</span>
            <md-filled-text-field type="text" 
                                  name="first_name"
                                  label="First name" 
                                  value="{{ user.first_name }}" 
                                  pattern="[A-Za-z\-]{0,32}"
            ></md-filled-text-field>
        </div>
        <div class="form-field">
            <span class="form-label">Last name</span>
            <md-filled-text-field type="text" 
                                  name="last_name"
                                  label="Last name" 
                                  value="{{ user.last_name }}" 
                                  pattern="[A-Za-z\-]{0,32}"
            ></md-filled-text-field>
        </div>
    </div>
    <div class="form-row">
        <div class="form-field">
            <span class="form-label">Email</span>
            <md-filled-text-field type="email" 
                                  name="email"
                                  label="Email" 
                                  value="{{ user.email }}" 
            ></md-filled-text-field>
        </div>
    </div>
    <div class="form-row">
        <div class="form-field">
            <span class="form-label">Administrator</span>
            <div>
                <!-- When the switch is unselected, the value isn't supplied (effectively false) -->
                <md-switch icons 
                           name="is_admin"
                           value="true"
                           {% if !can_change_admin %}
                                disabled
                           {% endif %}
                           {% if user.is_admin %}
                               selected
                           {% endif %}
                ></md-switch>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-field">
            <span class="form-label">Joined At</span>
            <span class="form-value">{{ user.created_at_slash_date() }}</span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-field">
            <span class="form-label">Files Created</span>
            <span class="form-value badge">{{ user.file_count }}</span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-field">
            <span class="form-label">Save</span>
            <div>
                <md-filled-button type="submit" class="button-success">Submit</md-filled-button>
            </div>
        </div>
    </div>
</form>
