#recent-uploads {
    display: flex;
    flex-flow: column-reverse;
    gap: 1rem;
    width: 64%;
    align-self: center;
}

#linked-file {
    display: flex;
    flex-flow: row;
    align-self: center;
    place-items: center;
    gap: 1rem;

    &:empty {
        display: none;
    }
}
