@layer utils {
    /* The text styling */
    .text-white {
        color: white;
        font-weight: bold;
        margin: 0; /* Remove default h1 margins */
    }

    .text-danger {
        color: var(--dropspot-danger);
    }

    .no-margin {
        margin: 0;
    }

    .button-white {
        --md-filled-button-container-color: #FFFFFF;
        --md-filled-button-label-text-color: var(--dropspot-primary);
        --md-filled-button-hover-label-text-color: var(--dropspot-primary);
        --md-filled-button-focus-label-text-color: var(--dropspot-primary);
        --md-filled-button-pressed-label-text-color: var(--dropspot-primary);
    }

    .md-icon-button-white {
        --md-icon-button-icon-color: #FFFFFF;
        --md-icon-button-selected-icon-color: #FFFFFF;
        --md-icon-button-focus-icon-color: #FFFFFF;
        --md-icon-button-disabled-icon-color: #FFFFFF;
        --md-icon-button-hover-icon-color: #FFFFFF;
        --md-icon-button-pressed-icon-color: #FFFFFF;
    }
}
