/** Form styles
 *
 * Example usage for a form with two rows, the first containing an input field and the second containing two fields:
 * the first having a label above the input field and the second having a label and a rendered value (no input).
 *
 * <form class="form">
 *   <h3 class="form-header">Optional form title</h3>
 *   <div class="form-row">
 *     <div class="form-field">
 *       <input />
 *     </div>
 *   </div>
 *   <div class="form-row">
 *     <div class="form-field">
 *       <span class="form-label">Field name</span>
 *       <input />
 *     </div>
 *     <div class="form-field">
 *       <span class="form-label">Field name</span>
 *       <span class="form-value">Field value</span>
 *     </div>
 *   </form-row>
 *
 * </form>
 */

/** Overarching form container */
.form {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  margin-bottom: 2.25rem;
}

/** Form title */
.form-header {
  overflow: hidden;
  text-overflow: ellipsis;
}

/** A form row */
.form-row {
  display: flex;
  flex-flow: row;
  place-items: center;
  gap: 1rem;
}

/** An individual form field */
.form-field {
  flex: 1;
  display: flex;
  flex-flow: column;
  gap: 6px;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 1rem;
}

/** Form field label */
.form-label {
  font-size: 13px;
  color: #777;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
}

/** Form field value. Used to display a value when a field can't be edited */
.form-value {
  font-size: 16px;
  color: #333;
  font-weight: 500;
}
