@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-flow: column;
  place-items: center;
  height: 100dvh;
  width: 100dvw;
  background-image: var(--dropspot-background);
}

main {
    display: flex;
    flex-flow: column;
    flex: 1;
    height: 100%;
    width: 100%;
    gap: 1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.download-button {
    display: flex;
    place-items: center;
    place-content: center;
    --md-circular-progress-size: 2rem;

    md-circular-progress {
        display: none;
    }

    &[is-downloading] {
        opacity: 0.5;
        pointer-events: none;

        md-icon {
            display: none;
        }

        md-circular-progress {
            display: block;
        }
    }
}

.download-button-contents {
    display: flex;
    place-items: center;
    place-content: center;
    gap: 0.5rem;
}

.onboarding-preview {
    display: flex;
    place-items: center;
    place-content: center;
}

.disclaimer {
    align-self: center;
}
