.settings {
    --menu-padding: 1rem;
    --menu-height: 32dvh;
    --menu-width: 26rem;

    position: relative;
    display: flex;
    flex-flow: column;
    padding: var(--menu-padding);
    gap: 1rem;
    height: var(--menu-height);
    width: var(--menu-width);

    /* Material Design Shadow */
    border-radius: 12px;
    overflow: hidden;

    @media (max-width: 480px) {
        --menu-height: 80dvh;
        --menu-width: 100dvh;
    }

    @media (prefers-color-scheme: dark) {
        color: #FFFFFF; /* Contrast with the dark background */
    }
}

.settings-menu-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.settings-loader {
    display: flex;
    place-items: center;
    place-content: center;
    flex: 1;
    width: 100%;
}

.section-label {
  font-size: 13px;
  color: var(--dropspot-grey-darker);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  margin: 0 0 12px 0;
  padding: 0 12px;

  @media (prefers-color-scheme: dark) {
    color: #FFFFFF;
  }
}

/* List Items */
.settings-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.settings-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--dropspot-hover);
    cursor: pointer;

    @media (prefers-color-scheme: dark) {
      color: var(--dropspot-primary);

      .settings-item-title, .settings-item-desc, .settings-action {
        color: var(--dropspot-primary);
      }
    }
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

/* Item Icons & Text */
.settings-icon {
  --md-icon-size: 2rem;
  color: var(--dropspot-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6f4ff; /* Light blue background for the icon */
  padding: 0.625rem;
  border-radius: 8px;

  &:hover {
    background-color: var(--dropspot-hover);
  }
}

.settings-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.25rem;
}

.settings-item-title {
  font-weight: 600;
  color: var(--dropspot-grey-darker);

  @media (prefers-color-scheme: dark) {
    color: var(--dropspot-grey-light);
  }
}

.settings-item-desc {
  font-size: 13px;
  color: var(--dropspot-teal-dark);

  @media (prefers-color-scheme: dark) {
    color: #FFFFFF;
  }
}

/* Chevron/Action Icon */
.settings-action {
  color: var(--dropspot-grey-dark);
}

.settings-field-update-input {
    flex: 0 0 64%;
}

.settings-field-update-result {
    display: flex;
    place-items: center;
    justify-content: center;
    flex: 0 0 2rem;
    height: 2rem;
}

/* Intregrations */
.integration-title {
    display: flex;
    gap: 0.5rem;
}

/*
 * Pages
 */

.settings-page {
    display: flex;
    flex-flow: column;
    padding: 0 1rem;
    overflow-y: auto;
    max-height: var(--menu-height);
    scrollbar-width: thin;
}
