:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /** DropSpot theme */
  --dropspot-primary: #339cff;
  --dropspot-primary-light: #61AFF9;
  --dropspot-primary-lighter: #9ECFE8;
  --dropspot-primary-dark: #255CBD;
  --dropspot-primary-darker: #0F3473;
  --dropspot-primary-darkest: #001A47;
  --dropspot-hover: #e6e6e6;
  --dropspot-box-shadow: 0 0 21px 7px rgb(255, 255, 255, 0.5);
  --dropspot-box-shadow-semi-minor: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  --dropspot-box-shadow-minor: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --dropspot-box-shadow-inset: inset 0 0 0.75rem 0.25rem rgba(0, 0, 0, 0.05);
  --dropspot-grey: #B9B9B9;
  --dropspot-grey-light: #DFDFDF;
  --dropspot-grey-lighter: #EDEDED;
  --dropspot-grey-dark: #A0AEC0;
  --dropspot-grey-darker: #3F3F3F;
  --dropspot-danger: #FF6868;
  --dropspot-danger-light: #FFF1F1;
  --dropspot-summer-light: #EFEFE5;
  --dropspot-summer: #F9FD3A;
  --dropspot-success: #6CC070;

  --dropspot-dark: #1D2021;
  --dropspot-teal: #19688C;
  --dropspot-teal-dark: #165675;

  --dropspot-font: "Roboto", "Helvetica", "Arial", sans-serif;
  --dropspot-font-plain: system-ui;

  --dropspot-background-morning: linear-gradient(var(--dropspot-primary-dark), var(--dropspot-primary-light));
  --dropspot-background-day: linear-gradient(var(--dropspot-primary-dark), var(--dropspot-primary));
  --dropspot-background-evening: linear-gradient(var(--dropspot-primary-darker), var(--dropspot-primary-dark));
  --dropspot-background-night: linear-gradient(#000000, var(--dropspot-primary-darkest));
  --dropspot-background: var(--dropspot-background-morning);

  /** Icons */
  --icon-dark-background-colour: #FFFFFF;
  --icon-dark-background-hover-colour: #FFFFFF;
  --icon-dark-background-focus-colour: #FFFFFF;
  --icon-dark-background-pressed-colour: var(--dropspot-dark);

  --icon-ripple-dark-background-colour: #FFFFFF;
  --icon-ripple-dark-background-opacity: 0.5;

  --icon-size-small: 1rem;
  --info-drawer-width: 24dvw;

  @media only screen and (max-width: 48rem) {
    --info-drawer-width: 72dvw;
  }

  @media (prefers-color-scheme: dark) {
    --dropspot-background: var(--dropspot-background-night);

    /* Darken the dark theme further for contrast */
    --dropspot-dark: #000000;
  }

  /** Popover */
  --popover-background-colour: #FFFFFF;

  /** Material Web */
  --md-sys-color-primary: var(--dropspot-primary);
  --md-sys-color-error: var(--dropspot-danger);
}
