#recent-uploads {
    display: flex;
    flex-flow: column-reverse;
    gap: 1rem;
    width: 64dvw;
    align-self: center;
    
    @media only screen and (max-width: 48rem) {
        width: 100%;
    }
}

#linked-file {
    display: flex;
    flex-flow: row;
    align-self: center;
    place-items: center;
    gap: 1rem;

    &:empty {
        display: none;
    }
}
