@layer utils {
    /* The text styling */
    .text-white {
        color: white;
        font-weight: bold;
        margin: 0; /* Remove default h1 margins */
    }

    .text-primary {
        color: var(--dropspot-primary);

      @media (prefers-color-scheme: dark) {
          color: #FFFFFF; /* Show a contrast against the dark background */
      }
    }

    .text-danger {
        color: var(--dropspot-danger);
    }

    .no-margin {
        margin: 0;
    }

    .icon-success {
        color: var(--dropspot-success);
    }

    .icon-danger {
        color: var(--dropspot-danger);
    }

    .microlink {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}
